/* 隐藏左侧边栏底部空白 */
.md\:nx-h-\[calc\(100vh-var\(--nextra-navbar-height\)-var\(--nextra-menu-height\)\)\] {
  height: calc(100vh - var(--nextra-navbar-height)) !important;
}

/* 原生样式 */
em {
  color: #ad1f48;
  font-style: normal;
}
h2 {
  border-bottom-width: 0px !important;
}

/* Mermaid Color */
.Yellow > rect {
  fill:#fff4e6 !important;
  stroke:#ffc600 !important;
}
@media (prefers-color-scheme: dark) {
  .Yellow > rect {
    fill:#33302d !important;
  }
}